.items{
    display: flex;
    gap:125px;
    margin-top: 80px;
}
.items img{
    max-width: 540px;
    
}
#img{
    max-width: 540px;
}
.description{
    width: 350px;
}
#display{
    margin-top: 94px;
}

.description h2{
color: #33323D;
font-family: Ibarra Real Nova;
font-weight: 700;
font-size: 40px;
line-height: 42px;
letter-spacing: -0.36px;
margin-top: 103px;
margin-bottom: 28px;

}

.description p{
font-family: Public Sans;
font-weight: 400;
font-size: 16px;

line-height: 30px;
letter-spacing: 0px;
color: #33323D;
margin-bottom: 24px;


}
#displayImg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#space{
    margin-top: 150px;
}



