@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
section {
  max-width: 1111px;
  margin: 0 auto;
}

.section {
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.section img {
  width: 100%;
  height: 660px; 
   display: block;
  border-radius: 12px;
  margin-right: 0px;
}


.info {
  max-width: 446px;
  background-color: #fafafa;
  padding-top: 56px;
  position: absolute;
  top: 45%;
  padding-bottom: 10px;
  padding-left: 2px;
  z-index: 9999;
}
.section {
  position: relative;
  margin-top: 52px;
  margin-bottom: 152px;
}



.info h2 {
  width: 390px;
  font-family: Ibarra Real Nova;
  font-weight: 700;
  font-size: 50px;
  color: #33323d;
  line-height: 50px;
  letter-spacing: -0.45px;
  margin-bottom: 53px;
}


.icon {
   display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  height: 48px;
  background: linear-gradient(135deg, black, #203a4c);
  display: flex;
  color:rgb(251, 244, 244);
  gap:12px;
  animation: btn 1.8s infinite ease-in-out;
  
}

.btn button {
  width: 100%;
  font-family: Public Sans;
  font-weight: 400;
  font-size: 12px;
  color: white;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: center;
  height: 100%;
  text-transform: uppercase;
}


#person {
  width:40%;
  margin-bottom: 150px;
  max-height: 600px;
  object-fit:fill;
}
.group {
  display: flex;
 align-items:start;
 justify-content: space-between;
 width: 100%;
}
.aboutPerson {
  max-width: 450px;
}
.aboutPerson p {
  font-family: Public Sans;
  font-weight: 400;
  font-size: 16px;
  color: #33323d;
  line-height: 30px;
  letter-spacing: 0px;
  min-width: 640px;
  margin-top: 28px;
  margin-bottom: 24px;
}
.line {
  background-color: rgba(51, 50, 61, 0.15);
  width: 100%;
  height: 1px;
}

.aboutPerson h2 {
  font-family: Ibarra Real Nova;
  font-weight: 700;
  font-size: 40px;
  color: #33323d;
  margin-top: 50px;
  line-height: 42px;
  letter-spacing: -0.36px;
}
.aboutPerson button {
  width: 202px;
  height: 48px;
  border: 1px solid #33323d;
  color: #33323d;
  font-family: Public Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 46px;
  transition: 0.3s ease-in;
}

.aboutPerson button:hover{
  background-color: #33323d;
  color:rgb(246, 244, 244);
}
.align {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 120px;
}
.align button:hover{
 color:rgb(248, 246, 246);
 background-color: #33323d;
}
.align p {
  color: #33323d;
  font-family: Ibarra Real Nova;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
  width: 350px;
  margin-right: 32px;
}

.lineLonger {
  background-color: rgba(51, 50, 61, 0.15);
  height: 1.1px;
  width: 60%;
  margin-right: 32px;
}

.align button {
  width: 162px;
  height: 48px;
  border: 1px solid #33323d;
  font-family: Public Sans;
  font-weight: 400;
  font-size: 12px;
  color: #33323d;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.icon img{
  width: 32px;
  height: 32px;
  margin-left: 12px;
   animation: btn 1.6s infinite ease-in-out;
}

@keyframes btn{
   0% {
    transform: translateY(0);
  }
  50% {
  
    transform: scale(1.04);
  }
  100% {
    transform: translateY(0);
  }
}


@media screen and (max-width:410px){

   .info{
    display: none;
   }

.group{
  flex-direction: column-reverse;
  gap:30px;
  
}
.section{
  margin-bottom: 40px;
}
.aboutPerson{
  width: 100%;;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.aboutPerson p {
  font-size: 14px;
  width: 100%;
  text-align: center;
  min-width: 100px;

}

.aboutPerson{
  width: 100%;
}
.aboutPerson h2{
  margin-top: 0px;
}
#btn:hover{
  opacity: 0.6;
}
#person{
  width: 80%;
  margin:0 auto;
}
.align p {
  font-size: 22px;
  line-height: 42px;
  letter-spacing: -0.36px;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 0px;
  font-family: cursive;
  width: 100%;
}
.align{
  width: 100%;
  flex-direction: column;
}
.icon{
  max-width: 120px;
 
  font-size: 8px;
  height: 28px;
}

.btn{
  width: 80%;
  height: 36px;
  border-radius: 4px;
}
.btn button{
  font-size: 10px;
}


.lineLonger{
  display: none;
}
.icon img{
  width: 12px;
  height: 12px;
}


.section img {
  height: 330px;

}

}


@media screen and (max-width:1000px){

   .info{
    display: none;
   }


.group{
  flex-direction: column-reverse;
  gap:30px;
  width: 80%;
  align-items: center;
  justify-content: center;

  
}
.section{
  margin-bottom: 90px;
}
.aboutPerson{
  width: 100% !important;;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.aboutPerson p {
  font-size: 18px;
  text-align: center;
  width: 100% !important;

}
.aboutPerson h2{

   margin-top: 20px;
}
#btn:hover{
  opacity: 0.6;
}
#person{
  width: 80%;
  margin:0 auto;
}
.align p {
  font-size: 22px;
  line-height: 42px;
  letter-spacing: -0.36px;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 0px;
  font-family: cursive;
  width: 100%;
}
.align{
  width: 100%;
  flex-direction: column;
}
.icon{
  max-width: 120px;
 
  font-size: 8px;
  height: 28px;
}

.btn{
  width: 80%;
  height: 36px;
  border-radius: 4px;
}
.btn button{
  font-size: 10px;
}


.lineLonger{
  display: none;
}
.icon img{
  width: 12px;
  height: 12px;
}


.section img {
  height: 330px;

}

}
@media screen and (max-width: 660px){
  .aboutPerson p{
    min-width: 100px;
  }
}

