*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background:none;
  list-style: none;
  text-decoration: none;
  border:none
}

input, button{
  cursor: pointer;
}

html{
  background-color: white;
  align-items: center;
  justify-content: center;
}

body{
  max-width: 1440px;
  margin:0 auto;
  background-color:#FAFAFA ;

}

@media screen and (max-width: 410px){
  body{
    max-width: 410px;
  }
}

@media screen and (max-width: 1000px){
  body{
    max-width: 1000px;
  }
}


ul li:hover{
 color:rgb(117, 115, 115);
}

